<div class="row">
   <div class="col-1"></div>

   <!-- Login Form -->
   <div class="col-5">
      <h2>Login:</h2>
      <form action="/session/login" method="post">
         <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

         <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" class="form-control" />
         </div>

         <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" class="form-control" />
         </div>

         <button type="submit" class="btn btn-primary">Login</button>
      </form>
   </div>
   <a href="/">Click here to Register</a>
   <!-- End Login Form -->
   <div class="col-1"></div>
</div>
